---
layout: page
---

{{ content }}

{% assign posts = paginator.posts | default: site.posts %}

<hr>
  <div>
    <h1>
      Les's first play a game!
    </h1>
    <p>You are a farmer with eight years of experience and a stable rice field. One day, 
      you discover a new farming method on the market that can accelerate the growth 
      and harvest of rice. However, this does not necessarily guarantee an increase in 
      final profits due to potential changes in yield or quality. Over time, this new 
      farming method gains popularity, and you begin to worry whether other farms adopting 
      this method will change the market dynamics, impacting your own rice farm. On the 
      other hand, if you decide to adopt this new method yourself, the outcomes remain 
      uncertain. Torn between maintaining your current approach and embracing change, 
      what choice will you make? </p>
      <h3>
        <p>This is precisely the dilemma YouTubers faced in 2013.</p>
      </h3>
      <h1>So...what's goint on in 2013?</h1>
      <p>The year 2013 is considered the dawn of the short video era. With the advancement 
        of smartphone technology, people can easily use their phones to watch videos anytime 
        and anywhere. That same year, Vine pioneered the concept of 6-second videos, quickly 
        gaining traction among young audiences and sparking a wave of imitators. Soon after, 
        Instagram followed by launching 15-second videos to attract users, which led to the 
        rapid popularization of short video culture. Following Vine's success, TikTok emerged 
        as a leader in the short video space with its 60-second videos, establishing itself as 
        the new giant in the field. The rapid growth of multiple short video platforms inevitably
        impacted YouTube, the long-standing leader in the video domain. 
      </p>
      <br>
      <p>
        However, YouTube's response to the short video trend was relatively slow. It wasn't until 
        2020 that YouTube launched Shorts to capture the audience drawn to short video culture. 
        By analyzing the YouNiverse dataset, which includes YouTube video data from 2005 to 2019, 
        we can explore the impact of the short video wave on YouTube creators. 
      </p>
      
  </div>
<hr>
    
<!-- role="list" needed so that `list-style: none` in Safari doesn't remove the list semantics -->
<ul class="posts-list list-unstyled" role="list">
  {% for post in posts %}
  <li class="post-preview">
    <article>
      {%- capture thumbnail -%}
        {% if post.thumbnail-img %}
          {{ post.thumbnail-img }}
        {% elsif post.cover-img %}
          {% if post.cover-img.first %}
            {{ post.cover-img[0].first.first }}
          {% else %}
            {{ post.cover-img }}
          {% endif %}
        {% else %}
        {% endif %}
      {% endcapture %}
      {% assign thumbnail=thumbnail | strip %}

      {% if site.feed_show_excerpt == false %}
      {% if thumbnail != "" %}
      <div class="post-image post-image-normal">
        <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
          <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
        </a>
      </div>
      {% endif %}
      {% endif %}

      <a href="{{ post.url | absolute_url }}">
        <h2 class="post-title">{{ post.title | strip_html }}</h2>

        {% if post.subtitle %}
          <h3 class="post-subtitle">
          {{ post.subtitle | strip_html }}
          </h3>
        {% endif %}
      </a>

      {% if post.author %}
        <span>By <strong>{{ post.author | strip_html }}</strong></span>
      {% endif %}
      <p class="post-meta">
        {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
        Posted on {{ post.date | date: date_format }}
      </p>

      {% if thumbnail != "" %}
      <div class="post-image post-image-small">
        <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
          <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
        </a>
      </div>
      {% endif %}

      {% unless site.feed_show_excerpt == false %}
      {% if thumbnail != "" %}
      <div class="post-image post-image-short">
        <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
          <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
        </a>
      </div>
      {% endif %}

      <div class="post-entry">
        {% assign excerpt_length = site.excerpt_length | default: 50 %}
        {{ post.excerpt | strip_html | truncatewords: excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > excerpt_length %}
          <a href="{{ post.url | absolute_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
      {% endunless %}

      {% if site.feed_show_tags != false and post.tags.size > 0 %}
      <div class="blog-tags">
        <span>Tags:</span>
        <!-- role="list" needed so that `list-style: none` in Safari doesn't remove the list semantics -->
        <ul class="d-inline list-inline" role="list">
          {% for tag in post.tags %}
          <li class="list-inline-item">
            <a href="{{ '/tags' | absolute_url }}#{{- tag -}}">{{- tag -}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

    </article>
  </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">
      <i class="fas fa-arrow-left" alt="Newer Posts"></i>
      <span class="d-none d-sm-inline-block">Newer Posts</span>
    </a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">
      <span class="d-none d-sm-inline-block">Older Posts</span>
      <i class="fas fa-arrow-right" alt="Older Posts"></i>
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
