---
layout: base
---

{% include header.html type="post" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">

      {% if page.gh-repo %}
        {% assign gh_split =  page.gh-repo | split:'/'  %}
        {% assign gh_user =  gh_split[0]  %}
        {% assign gh_repo =  gh_split[1]  %}

        <div id="header-gh-btns">
          {% if page.gh-badge.size > 0 %}
            {% for badge in page.gh-badge %}
              {% case badge %}
                {% when 'star'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=star&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'watch'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=watch&v=2&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'fork'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=fork&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'follow'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&type=follow&count=true" frameborder="0" scrolling="0" width="220px" height="20px"></iframe>
              {% endcase %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

      {% if page.before-content %}
      {% else %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="blog-post">
        {{ content }}
      </div>

      {% if page.tags.size > 0 %}
      {% else %}
        <div class="blog-tags">
          <span>Tags:</span>
          {% for tag in page.tags %}
            <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
          {% endfor %}
        </div>
      {% endif %}

      {% if page.after-content %}
      {% else %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% if page.social-share %}
      {% else %}
        {% include social-share.html %}
      {% endif %}

      
      {% include comments.html %}
    </div>
  </div>
</main>


<script>
    // JavaScript 函数用于切换图表
    function showChart(chartId) {
      const charts = document.querySelectorAll('.chart-container');
      charts.forEach(chart => {
        chart.classList.remove('active');
      });
      document.getElementById(chartId).classList.add('active');
    }

    // 确保页面加载时只显示第一个图表
    document.addEventListener('DOMContentLoaded', () => {
      const charts = document.querySelectorAll('.chart-container');
      charts.forEach(chart => {
        chart.classList.remove('active');
      });
      // 激活第一个图表
      if (charts[0]) {
        charts[0].classList.add('active');
      }
    });
</script>


<!-- <script>
  // JavaScript 函数用于切换图表
  function showChart(chartId, groupClass) {
    // 获取该组的所有图表
    const charts = document.querySelectorAll(`.chart-container.${groupClass}`);
    charts.forEach(chart => {
      chart.classList.remove('active');
    });
    // 激活对应的图表
    document.getElementById(chartId).classList.add('active');
  }

  // 确保页面加载时每组只显示第一个图表
  document.addEventListener('DOMContentLoaded', () => {
    const groups = ['group1', 'group2'];
    groups.forEach(group => {
      const charts = document.querySelectorAll(`.chart-container.${group}`);
      charts.forEach(chart => {
        chart.classList.remove('active');
      });
      // 激活每组的第一个图表
      if (charts[0]) {
        charts[0].classList.add('active');
      }
    });
  });
</script> -->
